<tr>
  <td colspan="2" class="b_blue yellow" align="center">
    <b>{{ heading }}</b>
  </td>
</tr>
<tr>
  <td class="entry">
    {{ content }}
  </td>
</tr>
<tr>
  <td class="b_blue yellow" align="center">
    <img src="/images/spacer.gif" />
  </td>
</tr>
