---
layout: demo
title:  "Warm Embrace Funeral Home"
sitemap: false
---
<div style="background-color: #f8edd3; text-align: center; margin: -25px -25px 25px; padding: 25px">
  <img src="{{ '/images/demo/embrace.png' | relative_url }}"/>
</div>

<h2 style="background-color: #f8edd3; text-align: center">Code embed</h2>
<div style="max-width: 500px; padding: 25px; margin: auto; background-color: #f1f1f1">
  <memoriamtv-embed client_reference="01GDX277ASWYKWQC1H76SMHV8C" mode="code"></memoriamtv-embed>
</div>

<hr/>

<h2 style="background-color: #f8edd3; text-align: center">Lijst embed</h2>
<div style="max-width: 500px; padding: 25px; margin: auto; background-color: #f1f1f1">
  <memoriamtv-embed client_reference="01GDX277ASWYKWQC1H76SMHV8C" mode="list"></memoriamtv-embed>
</div>

<script async src="https://embed.memoriam.tv/embed.js"></script>
