---
layout: demo
title:  "Warm Embrace Funeral Home"
sitemap: false
---
<div style="background-color: #17e2cf; text-align: center; margin: -25px -25px 25px; padding: 25px">
  <img src="{{ '/images/demo/embrace.png' | relative_url }}"/>
</div>

<div style="text-align: center">
<iframe
  width="640"
  height="400"
  allowtransparency="true"
  frameborder="0"
  borderwidth="0"
  borderheight="0"
  allow="autoplay; fullscreen"
  src="https://embed.memoriam.tv/iframe.html?client_reference=01GDX277ASWYKWQC1H76SMHV8C&mode=list"
>Bezig met laden</iframe>

<hr/>

<iframe
  width="640"
  height="400"
  allowtransparency="true"
  frameborder="0"
  borderwidth="0"
  borderheight="0"
  allow="autoplay; fullscreen"
  src="https://embed.memoriam.tv/iframe.html?client_reference=01GDX277ASWYKWQC1H76SMHV8C&mode=code"
>Bezig met laden</iframe>

<hr/>
</div>


https://memoriamtv-api.herokuapp.com/v1/embeds/01GDX277ASWYKWQC1H76SMHV8C

ACDE1234
